.top-cuisines-section {
  display: flex;
  flex-direction: column;
  padding-left: 12%;
  padding-right: 12%;
}

.top-cuisines {
  display: flex;
  justify-content: center;
}

div [class^="top-cuisines-photo-"] {
  height: 208px;
  width: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
}

.top-cuisines-header {
  margin-left: -55px;
  margin-top: 75px;
  margin-bottom: 25px;
  color: #2d333f;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.tc-border-top {
  border-top: 1px solid #d8d9db;
}

.top-cuisines-photo {
  border-radius: 4px;
  /* z-index: -1; */
}

.top-cuisines-text {
  top: 50%;
  left: 50%;
  color: #fff;
  text-shadow: 2px 2px #2d333f;
  font-size: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.darken {
  position: relative;
}
/* 
.darken:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
} */