.top-cuisines-section {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.top-cuisines {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cuisine-item {
  height: 100%;
  width: 196px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 30px; 
  margin-right: 20px; 
}

.cuisine-item:last-child {
  margin-right: 0;  
}

.top-cuisines-header {
  margin-top: 75px;
  padding-bottom: 15px;
  color: #2d333f;
  border-bottom: 1px solid  #d8d9db;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  width: 100%;
}

.top-cuisines-photo {
  border-radius: 4px;
  width: 100%;
}

.top-cuisines-text {
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 200;
  text-shadow: 1px 1px 0px #000;
  font-size: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.darken:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
} 