.sr-index {
  display: flex;
  justify-content: column;
  width: 62.5%;
  box-sizing: border-box;
  position: relative;
  min-height: 188px;
  line-height: 16px;

}

.search-result {
  display: flex;
  align-items: flex-start;
  min-width: 35%;
  position: relative;
}

.sr-thumbnail {
  height: 27%;
  width: 27%;
  margin: 10px;
}