.show-page-master {
  background: #f7f7f7;
}

.show-page-bg-image {
  background-image: url("https://s3.amazonaws.com/scopin-tables-splash/restaurant_bg.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 416px;
  position: relative;
  z-index: 1;
  padding-top: 132px;
  box-sizing: border-box;
  box-shadow: 0 1px 6px 2px rgba(14, 83, 221, 0.1);
  color: #333;
  width: 100%;
}

