.restaurant-index-list {
  display: flex;;
  flex-direction: column;
  /* justify-content: column; */
  width: 62.5%;
  box-sizing: border-box;
  position: relative;
  min-height: 188px;
  line-height: 16px;
  font-size: 16px;
  width: 100%;
  margin: auto;
}

.restaurant-index-wrapper {
  display: flex;
  justify-content: center;
}

.restaurant-index-item {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 25%;
  min-width: 35%;
  max-width: 1024px;
  padding: 0.875rem 0;
  position: relative;
  border-bottom: 1px solid rgb(216, 217, 219);
}

.rii-name {
  color: #247f9e;
  font-size: 1.375rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 3px;
}

.rii-name:hover {
  text-decoration: underline;
}

.rii-col-1 {
  /* width: 150px; */
  height: auto;
}

.rii-thumbnail {
  height: 160px;
  width: 160px;;
  margin: 10px;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  float: left;
}

.rii-col-2 {
  font-size: 17px;
  margin-top: 13px;
  height: auto;
  display: flex;
  flex: 5;
  flex-direction: column;
  padding-left: 2.5%;
}

.rii-col-2 div {
  line-height: 25px;
}

.rii-row-5 {
  margin-top: 6px;
}

.btn-index-reservation {
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
  line-height: 1.2rem;
  padding: 6px 12px;
  background-color: #da3743;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.btn-index-reservation:hover {
  transition: background-color ease-in 300ms;
  background-color: #b8222d;
}

.img-thumbnail {
  height: 100%;
  border-radius: 4px;
}

.light-dollar {
  color: rgba(0,0,0,.12)
}