.show-page-master {
  background: #f7f7f7;
}

.show-page-bg-image {
  background-image: url("https://s3.amazonaws.com/scopin-tables-dev-aa/restaurant_bg.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 288px;
  position: relative;
  padding-top: 132px;
  box-sizing: border-box;
  box-shadow: 0 1px 6px 2px rgba(14, 83, 221, 0.1);
  color: #333;
  width: 100%;
}

.show-loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.show-page-and-form {
  display: flex;
  justify-content:space-around;
}

.show-page-main {
  position: relative;
  top: -50px;
  width: 700px;
  margin-left: 100px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.12);
  box-sizing: border-box;
  padding: 16px;
}


.show-title {
  justify-self: center;
  margin-top: 33px;
  color: #2d333f;
  width: 608px;
  padding: 32px 16px;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  border-top: .5px solid #ccc;
  border-bottom: .5px solid #ccc;
}

.show-details {
  width: 590px;
  margin: auto;
  font-size: 18px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.show-details li {
  color: black;
  margin-bottom: 2px;
}

.show-blurb {
  color: black;
  width: 590px;
  margin: 10px auto;
  padding: 0 10px 15px;
}

.show-blurb.collapsed{
  overflow: hidden;
  height: 46px;
}

.show-blurb.expanded{
  overflow: visible;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.read-more {
  color: rgb(218, 55, 67);
  text-decoration: none;
  font-size: 12px;
  height: 24px;
  margin-left: 25px;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  border-style: none;
}

.dollar {
  color: #da3743;
}