.review-master {
  width: 590px;
  margin: 30px auto;
}

.review-master header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.review-master-banner{
  font-size: 23px;
  margin-bottom: 10px;
}

.submit-review {
  color: #237b98;
  font-size: 18px;
}