.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0 11px 0 0;
  border-bottom: 1px solid black;
  min-width: 420px;
  height: 54px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  font-size: 20px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 10px;
  margin-left: 20px;
}

.nav-right {
  display: flex;
  align-items: right;
  position: relative;
  padding: 10px 10px;
}

.logo-img {
  display: flex;
  height: 40px;
  width: 40px;
}

.logo-text {
  text-shadow: 0.5px 0;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 2rem;
  border-style: solid;
  border-width: 0;
  transition: background-color 300ms ease-out;
}

.btn-signup {
  display: inline-block;
  background-color: #237b98;
  border-color: #1c627a;
  color: #fff;
  font-size: 14px;
  padding: 0 16px;
  border-radius: 3px;
}

.btn-signin {
  background-color: transparent;
  border-color: transparent;
  color: #333;
  position: relative;
  display: inline-block;
  padding: 0 1rem;
  font-size: 100%;
}

.btn:hover {
  cursor: pointer;
  outline: 0;
}

.btn-signup:hover {
  background-color: #1c627a
}

button:focus {
  outline: none;
}

.fas {
  color: #999;
}
