.search-wrapper {
  display: flex;
  align-items: center;
  background-clip: border-box;
  background-origin: padding-box;
  box-sizing: border-box;
}

.fa-search {
  position: absolute;
  top: 14px;
  left: 12px;
  color: #999;
  margin: 0;
  padding: 0;
  z-index: 4;
  font-size: 20px;
}

.search-dropdown {
  display: none;
}

#search-dropdown {
  width: 100%;
  max-height: 245px;
  color: #fff;
  position: absolute;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

#search-dropdown ul {
  box-sizing: border-box;
  max-height: 265px;
}

.search-dropdown ul {
  padding: 0;
  margin: 0;
}

.search-dropdown a p,
.search-dropdown li {
  background-color: #fff;
  margin: 0;
  color: #666;
  border: 1px solid #fff;
  padding: 8px 30px;
  line-height: inherit;
}

.search-dropdown a:hover p:hover,
.search-dropdown li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #da3743;
  overflow: visible;
  white-space: normal;
}

::-webkit-scrollbar { 
  width: 0px;
  background: transparent;
}